
######################################################
## Schedd tuning
######################################################
DAEMON_LIST   = $(DAEMON_LIST), SCHEDD

#-- Reduce disk IO - paranoid fsyncs are usully not needed
ENABLE_USERLOG_FSYNC = False

# a mix of UDP and TCP can be problematic
# moving to all TCP seems to work better
UPDATE_COLLECTOR_WITH_TCP = True

#-- Condor-G tuning -----
GRIDMANAGER_MAX_SUBMITTED_JOBS_PER_RESOURCE=5000
GRIDMANAGER_MAX_PENDING_SUBMITS_PER_RESOURCE=5000
GRIDMANAGER_MAX_PENDING_REQUESTS=500

# keep proxies valid at least 1 week, if avaialble
GRIDMANAGER_PROXY_REFRESH_TIME = 604800
# CREAM specific
GRIDMANAGER_EMPTY_RESOURCE_DELAY=5

#--- Where should Grid specific logs be ---
# Can be owned by many users
GRIDMANAGER_LOG = $(GRIDMANAGER_LOG_DIR)/GridManagerLog.$(SCHEDD_NAME).$(USERNAME)
GRIDMANAGER_LOG_DIR = /dev/shm

#-- Publish SPOOL_DIR so it is available in the schedd classads as needed
SPOOL_DIR_STRING="$(SPOOL)"
SCHEDD_EXPRS = $(SCHEDD_EXPRS) SPOOL_DIR_STRING
