# Make sure this works with both UW and osg rpms
LOCAL_SCHEDD_DIR=/var/lib/condor

#--- Secondary SCHEDDs ----
SCHEDDGLIDEINS1       = $(SCHEDD)
SCHEDDGLIDEINS1_ARGS  = -local-name scheddglideins1
SCHEDD.SCHEDDGLIDEINS1.SCHEDD_NAME   = schedd_glideins1
SCHEDD.SCHEDDGLIDEINS1.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDD.SCHEDDGLIDEINS1.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS1.LOCAL_DIR     = $(LOCAL_SCHEDD_DIR)/$(SCHEDD.SCHEDDGLIDEINS1.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS1.EXECUTE       = $(SCHEDD.SCHEDDGLIDEINS1.LOCAL_DIR)/execute
SCHEDD.SCHEDDGLIDEINS1.LOCK          = $(SCHEDD.SCHEDDGLIDEINS1.LOCAL_DIR)/lock
SCHEDD.SCHEDDGLIDEINS1.PROCD_ADDRESS = $(SCHEDD.SCHEDDGLIDEINS1.LOCAL_DIR)/procd_pipe
SCHEDD.SCHEDDGLIDEINS1.SPOOL         = $(SCHEDD.SCHEDDGLIDEINS1.LOCAL_DIR)/spool
SCHEDD.SCHEDDGLIDEINS1.JOB_QUEUE_LOG   = $(SCHEDD.SCHEDDGLIDEINS1.SPOOL)/job_queue.log
SCHEDD.SCHEDDGLIDEINS1.SCHEDD_ADDRESS_FILE   = $(SCHEDD.SCHEDDGLIDEINS1.SPOOL)/.schedd_address
SCHEDD.SCHEDDGLIDEINS1.SCHEDD_DAEMON_AD_FILE = $(SCHEDD.SCHEDDGLIDEINS1.SPOOL)/.schedd_classad 
SCHEDDGLIDEINS1_SPOOL_DIR_STRING     = "$(SCHEDD.SCHEDDGLIDEINS1.SPOOL)"
SCHEDD.SCHEDDGLIDEINS1.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS1_ENVIRONMENT = "_CONDOR_SCHEDD_NAME=$(SCHEDD.SCHEDDGLIDEINS1.SCHEDD_NAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS1

SCHEDDGLIDEINS2       = $(SCHEDD)
SCHEDDGLIDEINS2_ARGS  = -local-name scheddglideins2
SCHEDD.SCHEDDGLIDEINS2.SCHEDD_NAME   = schedd_glideins2
SCHEDD.SCHEDDGLIDEINS2.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDD.SCHEDDGLIDEINS2.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS2.LOCAL_DIR     = $(LOCAL_SCHEDD_DIR)/$(SCHEDD.SCHEDDGLIDEINS2.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS2.EXECUTE       = $(SCHEDD.SCHEDDGLIDEINS2.LOCAL_DIR)/execute
SCHEDD.SCHEDDGLIDEINS2.LOCK          = $(SCHEDD.SCHEDDGLIDEINS2.LOCAL_DIR)/lock
SCHEDD.SCHEDDGLIDEINS2.PROCD_ADDRESS = $(SCHEDD.SCHEDDGLIDEINS2.LOCAL_DIR)/procd_pipe
SCHEDD.SCHEDDGLIDEINS2.SPOOL         = $(SCHEDD.SCHEDDGLIDEINS2.LOCAL_DIR)/spool
SCHEDD.SCHEDDGLIDEINS2.JOB_QUEUE_LOG   = $(SCHEDD.SCHEDDGLIDEINS2.SPOOL)/job_queue.log
SCHEDD.SCHEDDGLIDEINS2.SCHEDD_ADDRESS_FILE   = $(SCHEDD.SCHEDDGLIDEINS2.SPOOL)/.schedd_address
SCHEDD.SCHEDDGLIDEINS2.SCHEDD_DAEMON_AD_FILE = $(SCHEDD.SCHEDDGLIDEINS2.SPOOL)/.schedd_classad 
SCHEDDGLIDEINS2_SPOOL_DIR_STRING     = "$(SCHEDD.SCHEDDGLIDEINS2.SPOOL)"
SCHEDD.SCHEDDGLIDEINS2.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS2_ENVIRONMENT = "_CONDOR_SCHEDD_NAME=$(SCHEDD.SCHEDDGLIDEINS2.SCHEDD_NAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS2

SCHEDDGLIDEINS3       = $(SCHEDD)
SCHEDDGLIDEINS3_ARGS  = -local-name scheddglideins3
SCHEDD.SCHEDDGLIDEINS3.SCHEDD_NAME   = schedd_glideins3
SCHEDD.SCHEDDGLIDEINS3.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDD.SCHEDDGLIDEINS3.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS3.LOCAL_DIR     = $(LOCAL_SCHEDD_DIR)/$(SCHEDD.SCHEDDGLIDEINS3.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS3.EXECUTE       = $(SCHEDD.SCHEDDGLIDEINS3.LOCAL_DIR)/execute
SCHEDD.SCHEDDGLIDEINS3.LOCK          = $(SCHEDD.SCHEDDGLIDEINS3.LOCAL_DIR)/lock
SCHEDD.SCHEDDGLIDEINS3.PROCD_ADDRESS = $(SCHEDD.SCHEDDGLIDEINS3.LOCAL_DIR)/procd_pipe
SCHEDD.SCHEDDGLIDEINS3.SPOOL         = $(SCHEDD.SCHEDDGLIDEINS3.LOCAL_DIR)/spool
SCHEDD.SCHEDDGLIDEINS3.JOB_QUEUE_LOG   = $(SCHEDD.SCHEDDGLIDEINS3.SPOOL)/job_queue.log
SCHEDD.SCHEDDGLIDEINS3.SCHEDD_ADDRESS_FILE   = $(SCHEDD.SCHEDDGLIDEINS3.SPOOL)/.schedd_address
SCHEDD.SCHEDDGLIDEINS3.SCHEDD_DAEMON_AD_FILE = $(SCHEDD.SCHEDDGLIDEINS3.SPOOL)/.schedd_classad 
SCHEDDGLIDEINS3_SPOOL_DIR_STRING     = "$(SCHEDD.SCHEDDGLIDEINS3.SPOOL)"
SCHEDD.SCHEDDGLIDEINS3.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS3_ENVIRONMENT = "_CONDOR_SCHEDD_NAME=$(SCHEDD.SCHEDDGLIDEINS3.SCHEDD_NAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS3

SCHEDDGLIDEINS4       = $(SCHEDD)
SCHEDDGLIDEINS4_ARGS  = -local-name scheddglideins4
SCHEDD.SCHEDDGLIDEINS4.SCHEDD_NAME   = schedd_glideins4
SCHEDD.SCHEDDGLIDEINS4.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDD.SCHEDDGLIDEINS4.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS4.LOCAL_DIR     = $(LOCAL_SCHEDD_DIR)/$(SCHEDD.SCHEDDGLIDEINS4.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS4.EXECUTE       = $(SCHEDD.SCHEDDGLIDEINS4.LOCAL_DIR)/execute
SCHEDD.SCHEDDGLIDEINS4.LOCK          = $(SCHEDD.SCHEDDGLIDEINS4.LOCAL_DIR)/lock
SCHEDD.SCHEDDGLIDEINS4.PROCD_ADDRESS = $(SCHEDD.SCHEDDGLIDEINS4.LOCAL_DIR)/procd_pipe
SCHEDD.SCHEDDGLIDEINS4.SPOOL         = $(SCHEDD.SCHEDDGLIDEINS4.LOCAL_DIR)/spool
SCHEDD.SCHEDDGLIDEINS4.JOB_QUEUE_LOG   = $(SCHEDD.SCHEDDGLIDEINS4.SPOOL)/job_queue.log
SCHEDD.SCHEDDGLIDEINS4.SCHEDD_ADDRESS_FILE   = $(SCHEDD.SCHEDDGLIDEINS4.SPOOL)/.schedd_address
SCHEDD.SCHEDDGLIDEINS4.SCHEDD_DAEMON_AD_FILE = $(SCHEDD.SCHEDDGLIDEINS4.SPOOL)/.schedd_classad 
SCHEDDGLIDEINS4_SPOOL_DIR_STRING     = "$(SCHEDD.SCHEDDGLIDEINS4.SPOOL)"
SCHEDD.SCHEDDGLIDEINS4.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS4_ENVIRONMENT = "_CONDOR_SCHEDD_NAME=$(SCHEDD.SCHEDDGLIDEINS4.SCHEDD_NAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS4

SCHEDDGLIDEINS5       = $(SCHEDD)
SCHEDDGLIDEINS5_ARGS  = -local-name scheddglideins5
SCHEDD.SCHEDDGLIDEINS5.SCHEDD_NAME   = schedd_glideins5
SCHEDD.SCHEDDGLIDEINS5.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDD.SCHEDDGLIDEINS5.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS5.LOCAL_DIR     = $(LOCAL_SCHEDD_DIR)/$(SCHEDD.SCHEDDGLIDEINS5.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS5.EXECUTE       = $(SCHEDD.SCHEDDGLIDEINS5.LOCAL_DIR)/execute
SCHEDD.SCHEDDGLIDEINS5.LOCK          = $(SCHEDD.SCHEDDGLIDEINS5.LOCAL_DIR)/lock
SCHEDD.SCHEDDGLIDEINS5.PROCD_ADDRESS = $(SCHEDD.SCHEDDGLIDEINS5.LOCAL_DIR)/procd_pipe
SCHEDD.SCHEDDGLIDEINS5.SPOOL         = $(SCHEDD.SCHEDDGLIDEINS5.LOCAL_DIR)/spool
SCHEDD.SCHEDDGLIDEINS5.JOB_QUEUE_LOG   = $(SCHEDD.SCHEDDGLIDEINS5.SPOOL)/job_queue.log
SCHEDD.SCHEDDGLIDEINS5.SCHEDD_ADDRESS_FILE   = $(SCHEDD.SCHEDDGLIDEINS5.SPOOL)/.schedd_address
SCHEDD.SCHEDDGLIDEINS5.SCHEDD_DAEMON_AD_FILE = $(SCHEDD.SCHEDDGLIDEINS5.SPOOL)/.schedd_classad 
SCHEDDGLIDEINS5_SPOOL_DIR_STRING     = "$(SCHEDD.SCHEDDGLIDEINS5.SPOOL)"
SCHEDD.SCHEDDGLIDEINS5.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS5_ENVIRONMENT = "_CONDOR_SCHEDD_NAME=$(SCHEDD.SCHEDDGLIDEINS5.SCHEDD_NAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS5

SCHEDDGLIDEINS6       = $(SCHEDD)
SCHEDDGLIDEINS6_ARGS  = -local-name scheddglideins6
SCHEDD.SCHEDDGLIDEINS6.SCHEDD_NAME   = schedd_glideins6
SCHEDD.SCHEDDGLIDEINS6.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDD.SCHEDDGLIDEINS6.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS6.LOCAL_DIR     = $(LOCAL_SCHEDD_DIR)/$(SCHEDD.SCHEDDGLIDEINS6.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS6.EXECUTE       = $(SCHEDD.SCHEDDGLIDEINS6.LOCAL_DIR)/execute
SCHEDD.SCHEDDGLIDEINS6.LOCK          = $(SCHEDD.SCHEDDGLIDEINS6.LOCAL_DIR)/lock
SCHEDD.SCHEDDGLIDEINS6.PROCD_ADDRESS = $(SCHEDD.SCHEDDGLIDEINS6.LOCAL_DIR)/procd_pipe
SCHEDD.SCHEDDGLIDEINS6.SPOOL         = $(SCHEDD.SCHEDDGLIDEINS6.LOCAL_DIR)/spool
SCHEDD.SCHEDDGLIDEINS6.JOB_QUEUE_LOG   = $(SCHEDD.SCHEDDGLIDEINS6.SPOOL)/job_queue.log
SCHEDD.SCHEDDGLIDEINS6.SCHEDD_ADDRESS_FILE   = $(SCHEDD.SCHEDDGLIDEINS6.SPOOL)/.schedd_address
SCHEDD.SCHEDDGLIDEINS6.SCHEDD_DAEMON_AD_FILE = $(SCHEDD.SCHEDDGLIDEINS6.SPOOL)/.schedd_classad 
SCHEDDGLIDEINS6_SPOOL_DIR_STRING     = "$(SCHEDD.SCHEDDGLIDEINS6.SPOOL)"
SCHEDD.SCHEDDGLIDEINS6.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS6_ENVIRONMENT = "_CONDOR_SCHEDD_NAME=$(SCHEDD.SCHEDDGLIDEINS6.SCHEDD_NAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS6

SCHEDDGLIDEINS7       = $(SCHEDD)
SCHEDDGLIDEINS7_ARGS  = -local-name scheddglideins7
SCHEDD.SCHEDDGLIDEINS7.SCHEDD_NAME   = schedd_glideins7
SCHEDD.SCHEDDGLIDEINS7.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDD.SCHEDDGLIDEINS7.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS7.LOCAL_DIR     = $(LOCAL_SCHEDD_DIR)/$(SCHEDD.SCHEDDGLIDEINS7.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS7.EXECUTE       = $(SCHEDD.SCHEDDGLIDEINS7.LOCAL_DIR)/execute
SCHEDD.SCHEDDGLIDEINS7.LOCK          = $(SCHEDD.SCHEDDGLIDEINS7.LOCAL_DIR)/lock
SCHEDD.SCHEDDGLIDEINS7.PROCD_ADDRESS = $(SCHEDD.SCHEDDGLIDEINS7.LOCAL_DIR)/procd_pipe
SCHEDD.SCHEDDGLIDEINS7.SPOOL         = $(SCHEDD.SCHEDDGLIDEINS7.LOCAL_DIR)/spool
SCHEDD.SCHEDDGLIDEINS7.JOB_QUEUE_LOG   = $(SCHEDD.SCHEDDGLIDEINS7.SPOOL)/job_queue.log
SCHEDD.SCHEDDGLIDEINS7.SCHEDD_ADDRESS_FILE   = $(SCHEDD.SCHEDDGLIDEINS7.SPOOL)/.schedd_address
SCHEDD.SCHEDDGLIDEINS7.SCHEDD_DAEMON_AD_FILE = $(SCHEDD.SCHEDDGLIDEINS7.SPOOL)/.schedd_classad 
SCHEDDGLIDEINS7_SPOOL_DIR_STRING     = "$(SCHEDD.SCHEDDGLIDEINS7.SPOOL)"
SCHEDD.SCHEDDGLIDEINS7.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS7_ENVIRONMENT = "_CONDOR_SCHEDD_NAME=$(SCHEDD.SCHEDDGLIDEINS7.SCHEDD_NAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS7

SCHEDDGLIDEINS8       = $(SCHEDD)
SCHEDDGLIDEINS8_ARGS  = -local-name scheddglideins8
SCHEDD.SCHEDDGLIDEINS8.SCHEDD_NAME   = schedd_glideins8
SCHEDD.SCHEDDGLIDEINS8.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDD.SCHEDDGLIDEINS8.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS8.LOCAL_DIR     = $(LOCAL_SCHEDD_DIR)/$(SCHEDD.SCHEDDGLIDEINS8.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS8.EXECUTE       = $(SCHEDD.SCHEDDGLIDEINS8.LOCAL_DIR)/execute
SCHEDD.SCHEDDGLIDEINS8.LOCK          = $(SCHEDD.SCHEDDGLIDEINS8.LOCAL_DIR)/lock
SCHEDD.SCHEDDGLIDEINS8.PROCD_ADDRESS = $(SCHEDD.SCHEDDGLIDEINS8.LOCAL_DIR)/procd_pipe
SCHEDD.SCHEDDGLIDEINS8.SPOOL         = $(SCHEDD.SCHEDDGLIDEINS8.LOCAL_DIR)/spool
SCHEDD.SCHEDDGLIDEINS8.JOB_QUEUE_LOG   = $(SCHEDD.SCHEDDGLIDEINS8.SPOOL)/job_queue.log
SCHEDD.SCHEDDGLIDEINS8.SCHEDD_ADDRESS_FILE   = $(SCHEDD.SCHEDDGLIDEINS8.SPOOL)/.schedd_address
SCHEDD.SCHEDDGLIDEINS8.SCHEDD_DAEMON_AD_FILE = $(SCHEDD.SCHEDDGLIDEINS8.SPOOL)/.schedd_classad 
SCHEDDGLIDEINS8_SPOOL_DIR_STRING     = "$(SCHEDD.SCHEDDGLIDEINS8.SPOOL)"
SCHEDD.SCHEDDGLIDEINS8.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS8_ENVIRONMENT = "_CONDOR_SCHEDD_NAME=$(SCHEDD.SCHEDDGLIDEINS8.SCHEDD_NAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS8

SCHEDDGLIDEINS9       = $(SCHEDD)
SCHEDDGLIDEINS9_ARGS  = -local-name scheddglideins9
SCHEDD.SCHEDDGLIDEINS9.SCHEDD_NAME   = schedd_glideins9
SCHEDD.SCHEDDGLIDEINS9.SCHEDD_LOG    = $(LOG)/SchedLog.$(SCHEDD.SCHEDDGLIDEINS9.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS9.LOCAL_DIR     = $(LOCAL_SCHEDD_DIR)/$(SCHEDD.SCHEDDGLIDEINS9.SCHEDD_NAME)
SCHEDD.SCHEDDGLIDEINS9.EXECUTE       = $(SCHEDD.SCHEDDGLIDEINS9.LOCAL_DIR)/execute
SCHEDD.SCHEDDGLIDEINS9.LOCK          = $(SCHEDD.SCHEDDGLIDEINS9.LOCAL_DIR)/lock
SCHEDD.SCHEDDGLIDEINS9.PROCD_ADDRESS = $(SCHEDD.SCHEDDGLIDEINS9.LOCAL_DIR)/procd_pipe
SCHEDD.SCHEDDGLIDEINS9.SPOOL         = $(SCHEDD.SCHEDDGLIDEINS9.LOCAL_DIR)/spool
SCHEDD.SCHEDDGLIDEINS9.JOB_QUEUE_LOG   = $(SCHEDD.SCHEDDGLIDEINS9.SPOOL)/job_queue.log
SCHEDD.SCHEDDGLIDEINS9.SCHEDD_ADDRESS_FILE   = $(SCHEDD.SCHEDDGLIDEINS9.SPOOL)/.schedd_address
SCHEDD.SCHEDDGLIDEINS9.SCHEDD_DAEMON_AD_FILE = $(SCHEDD.SCHEDDGLIDEINS9.SPOOL)/.schedd_classad 
SCHEDDGLIDEINS9_SPOOL_DIR_STRING     = "$(SCHEDD.SCHEDDGLIDEINS9.SPOOL)"
SCHEDD.SCHEDDGLIDEINS9.SCHEDD_EXPRS  = SPOOL_DIR_STRING

SCHEDDGLIDEINS9_ENVIRONMENT = "_CONDOR_SCHEDD_NAME=$(SCHEDD.SCHEDDGLIDEINS9.SCHEDD_NAME)" 
DAEMON_LIST = $(DAEMON_LIST), SCHEDDGLIDEINS9

DC_DAEMON_LIST = +  SCHEDDGLIDEINS1 SCHEDDGLIDEINS2 SCHEDDGLIDEINS3 SCHEDDGLIDEINS4 SCHEDDGLIDEINS5 SCHEDDGLIDEINS6 SCHEDDGLIDEINS7 SCHEDDGLIDEINS8 SCHEDDGLIDEINS9
